@charset 'utf-8';

@import '_map';
@import '_panel';
@import '_elements';

/* VARIABLES */
:root {

}

.mybutton {
    background-color: purple;
    right: 0;
    position: absolute;
    z-index: 2000;
}
